@import "tailwindcss";

@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("../public/fonts/NotoSansHebrew-VariableFont_wdth\,wght.ttf");
}

#root {
  font-family: "Noto Sans Hebrew";
  direction: rtl;
}
