@import "tailwindcss";

@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("fonts/Hebrew/NotoSansHebrew-VariableFont_wdth\,wght.ttf");
}

#root {
  width: 100%;
  font-family: "Noto Sans Hebrew";
}
